<header>
  <a class="site-logo" href="/">
    The Art Repo
  </a>
  {{#if isLoggedIn}}
    <a href="/api/logout">Logout</a>
  {{else}}
  <a href="/aicapi">Chicago Art Institute</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
