:root {
  --black: #020303a8;
  --dark-grey: #171c1c;
  --light-grey: #a7b9b7;
  --primary: #400000;
  --primary-dark: #333;
  --secondary: #ffffff;
  --secondary-light: #800000;
  --text-color: #f5fffe;
  --space: 16px;
  --font-size: 18px;
}

body {
  background-color: var(--primary-dark);
  /* background-image: url("images/gallery.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.25;
  padding: 0;
  margin: 0;
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--black);
  padding: var(--space) calc(var(--space) * 3);
  text-align: center;
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a {
  color: var(--secondary);
  font-weight:bold;
  text-decoration:none;
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--secondary-light);
}

button {
  border: white;
  border-radius: 4px;
  background-color: #800000;
  color:white;
  padding: calc(var(--space) * 0.75) calc(var(--space) * 2);
  cursor: pointer;
  transition: background-color 200ms;
}


button.btn {
  border: var(--text-color);
  border-radius: 4px;
  background-color: var(--primary);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 2);
  cursor: pointer;
  transition: background-color 200ms;
}
button.btn-text {
  border: none;
  font-weight:bold;
  background-color: transparent;
  color: var(--text-color);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover, button:focus
button.btn:focus {
  background-color: var(--light-grey);
  color:var(--primary)
}
button.btn-text:hover,
button.btn-text:focus {
  color: var(--primary);
}

footer {
margin-top:20px;
width:100%;
background-color: var(--black);
color: var(--secondary);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  margin-bottom: calc(var(--space) * 2);
}
header a {
  margin: var(--space);
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}



.highlight, .item-img-container2 p span{

  color:rgb(175, 9, 9) ;
  font-weight:bold;
}

.introText {
  text-align: left;
}

.item-img-container2 {
  padding:20px;
}
.item-img-container2:hover {
  background-color: black;
}

.item-img-container2 p {
  text-align:left;
}

.site-logo {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--secondary-light);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

#workItems {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: calc(var(--space) * 2) calc(var(--space) * 4);
}

.workImg {
  width:50%;
  border: solid 1px white;
}

.workBorder {
  border: solid 1px white;
}

#aicWorks {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: calc(var(--space) * 2) calc(var(--space) * 2);
}
.aicWorkImg {
  width:90%;
  margin:0 auto;
  border:1px solid white;
}


.item-img-container img {
  max-width:150px;
  display:block;
  
}
.item-img-container2 img {
  max-width:150px;
  display:block;
  
}

.item-img-container2{
  max-width:300px;
  display:block;
  border:white solid 1px;
  
  float:left;
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
